/build
/dist

.idea
.env
.coverage
.pytest_cache

*/__pycache__/*
*/.ipynb_checkpoints/
*.egg-info/

outputs

/docs/_build/
/docs/api
/docs/reference

.DS_Store

*.pyc
.vscode/settings.json

mlruns

/*.json