build
dist
data

.idea
.env
.coverage
.pytest_cache

*/__pycache__/*
*/.ipynb_checkpoints/
*.egg-info/

outputs
pipeline.json
schema.json

/docs/_build/
/docs/api
/docs/reference

.DS_Store

*.pyc
.vscode/settings.json
